html {
  scroll-behavior: smooth;
}

@-webkit-keyframes upDown {
  0% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(7px);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(7px);
  }
}
@-webkit-keyframes blurShadow {
  0% {
    width: 60%;
    height: 40px;
    filter: blur(38px);
    transform: translateY(-100px);
    background-color: rgb(122, 122, 122);
  }
  50% {
    width: 40%;
    height: 20px;
    filter: blur(42px);
    transform: translateY(-90px);
    background-color: rgb(85, 85, 85);
  }
  100% {
    width: 60%;
    height: 40px;
    filter: blur(38px);
    transform: translateY(-100px);
    background-color: rgb(122, 122, 122);
  }
}
@keyframes blurShadow {
  0% {
    width: 60%;
    height: 40px;
    filter: blur(38px);
    transform: translateY(-100px);
    background-color: rgb(122, 122, 122);
  }
  50% {
    width: 40%;
    height: 20px;
    filter: blur(42px);
    transform: translateY(-90px);
    background-color: rgb(85, 85, 85);
  }
  100% {
    width: 60%;
    height: 40px;
    filter: blur(38px);
    transform: translateY(-100px);
    background-color: rgb(122, 122, 122);
  }
}
@-webkit-keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}
@keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}
@-webkit-keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
@keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
@-webkit-keyframes glitchBotom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
@keyframes glitchBotom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translate(0%, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(-141.5vw, 0);
    opacity: 0;
  }
}
@keyframes marquee {
  0% {
    transform: translate(0%, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(-141.5vw, 0);
    opacity: 0;
  }
}
@-webkit-keyframes marquee1 {
  0% {
    transform: translate(-141.5vw, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(0%, 0);
    opacity: 0;
  }
}
@keyframes marquee1 {
  0% {
    transform: translate(-141.5vw, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(0%, 0);
    opacity: 0;
  }
}
@-webkit-keyframes fade-in-bottom {
  0% {
    filter: grayscale(1);
    opacity: 0.3;
  }
  100% {
    filter: grayscale(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    filter: grayscale(1);
    opacity: 0.3;
  }
  100% {
    filter: grayscale(0);
    opacity: 1;
  }
}
.scrolls {
  filter: grayscale(1);
  opacity: 0.3;
  transition: 0.3s;
}

.scrolls.scrolled {
  transition: 0.3s;
  filter: grayscale(0);
  opacity: 1;
  -webkit-animation: fade-in-bottom 1s ease-in-out both;
          animation: fade-in-bottom 1s ease-in-out both;
}

.main {
  overflow: hidden;
  width: 100%;
  background-color: #121213;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.main ol {
  z-index: 101;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.main ol li a {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 10px 0;
}
.main ol li a.active {
  background-color: #fff;
}
.main ol .marker {
  content: "";
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: purple;
  transition: 0.2s;
}
.main .page {
  z-index: 99;
  width: 50px;
  height: 150px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}
.main .page h4 {
  top: 0;
  left: 0;
  color: #fff;
  position: absolute;
  font-weight: 400;
}
.main .page p {
  position: absolute;
  color: #fff;
  bottom: 30px;
  left: 10px;
  font-size: 35px;
  font-weight: 200;
}
.main .page span {
  bottom: 25px;
  left: 6px;
  width: 50px;
  height: 1px;
  background-color: #fff;
  transform: rotate(135deg);
  position: absolute;
}
.main .page h5 {
  font-weight: 100;
  font-size: 20px;
  bottom: 0;
  right: 0;
  color: #fff;
  position: absolute;
}
.main section {
  position: relative;
  height: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.main section .section-wrap {
  height: calc(100% - 100px);
  max-width: 1620px;
  padding: 0 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main section .section-wrap .t-img-wrap {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.main section .section-wrap .t-img-wrap .title-img {
  width: 100%;
  -webkit-animation: upDown 3s infinite;
          animation: upDown 3s infinite;
}
.main section .section-wrap .t-img-wrap .blur-shadow {
  -webkit-animation: blurShadow 3s infinite;
          animation: blurShadow 3s infinite;
  width: 60%;
  background-color: rgb(145, 145, 145);
  height: 40px;
  border-radius: 50%;
  filter: blur(38px);
  margin-left: 80px;
  transform: translateY(-100px);
}
.main section .section-wrap .title {
  width: 55%;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main section .section-wrap .title .title-wrap {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main section .section-wrap .title .title-wrap h1 {
  color: #d3d3d3;
  font-size: 60px;
  font-weight: 900;
  -webkit-animation: glitch 1.5s linear infinite;
          animation: glitch 1.5s linear infinite;
  font-family: sans-serif;
  text-shadow: -3px -2px 0px #753e58, 3px 2px 0px #588d99;
}
.main section .section-wrap .title .title-wrap h1:before, .main section .section-wrap .title .title-wrap h1:after {
  content: attr(error);
  position: absolute;
  left: 0;
}
.main section .section-wrap .title .title-wrap h1:before {
  -webkit-animation: glitchTop 1.5s linear infinite;
          animation: glitchTop 1.5s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
.main section .section-wrap .title .title-wrap h1:after {
  -webkit-animation: glitchBotom 2s linear infinite;
          animation: glitchBotom 2s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
.main section .section-wrap .title .title-wrap h2 {
  font-weight: 400;
  font-size: 30px;
  color: #c0c0c0;
}
.main section .section-wrap .title .title-wrap p {
  padding-top: 20px;
  color: #888;
}
.main section .section-wrap .title .title-wrap p span {
  color: #fff;
}
.main section .section-wrap .title .title-wrap .link-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  width: 200px;
}
.main section .section-wrap .title .title-wrap .link-wrap h3 {
  color: #fff;
  padding-right: 20px;
}
.main section .section-wrap .title .title-wrap .link-wrap .won-btn {
  z-index: 101;
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(118deg, rgb(104, 138, 226) 0%, rgb(65, 78, 148) 100%);
  border-radius: 50%;
}
.main section .section-wrap .title .title-wrap .link-wrap .won-btn img {
  width: 30px;
}
.main section .slide {
  position: relative;
  bottom: 40px;
  left: 0;
  width: 100vw;
  height: 60px;
  overflow: hidden;
  pointer-events: none;
}
.main section .slide::after {
  content: "";
  display: block;
  position: absolute;
  width: 400px;
  height: 60px;
  top: 0;
  left: 0%;
  background: linear-gradient(-90deg, rgba(18, 18, 19, 0) 0%, rgba(18, 18, 19, 0.8) 70%);
}
.main section .slide::before {
  content: "";
  display: block;
  position: absolute;
  width: 400px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 11;
  background: linear-gradient(90deg, rgba(18, 18, 19, 0) 0%, rgba(18, 18, 19, 0.8) 70%);
}
.main section .slide h1 {
  width: 100%;
  line-height: 0.9;
  font-size: 28px;
  color: #858585;
  white-space: nowrap;
  -webkit-animation: marquee 22s linear infinite;
          animation: marquee 22s linear infinite;
}
.main section .slide h1 .fa {
  color: #50628F;
}
.main section .slide h2 {
  width: 100%;
  line-height: 0.9;
  font-size: 42px;
  color: #C8CBCD;
  white-space: nowrap;
  -webkit-animation: marquee1 27s linear infinite;
          animation: marquee1 27s linear infinite;
}
.main section .slide h2 .fa {
  color: #5E85EB;
}/*# sourceMappingURL=main.css.map */