html{
    scroll-behavior: smooth;
}

@mixin flex($a: space-around, $b: center) {
    display: flex;
    justify-content: $a;
    align-items: $b;
    @content;
}
//main color
$mC : #5E85EB;
//base color
$bC : #121213;

$haunt: #2c2d44;
$hotPink: #753e58;
$electroShock: #588d99;

@keyframes upDown {
    0% {
        transform: translateY(7px);
    }
    50%{
        transform: translateY(-7px);
    }
    100%{
        transform: translateY(7px);
    }
}

@keyframes blurShadow {
    0% {
        width: 60%;
        height: 40px;
        filter: blur(38px);
        transform: translateY(-100px);
        background-color: rgb(122, 122, 122);
    }
    50%{
        width: 40%;
        height: 20px;
        filter: blur(42px);
        transform: translateY(-90px);
        background-color: rgb(85, 85, 85);
    }
    100%{
        width: 60%;
        height: 40px;
        filter: blur(38px);
        transform: translateY(-100px);
        background-color: rgb(122, 122, 122);
    }
}

@keyframes glitchTop{
    2%, 64% { transform: translate(2px,-2px); }
    4%, 60% { transform: translate(-2px,2px); }
    62% { transform: translate(13px,-1px) skew(-13deg); }
}

@keyframes glitch{
2%,64%{ transform: translate(2px,0) skew(0deg); }
4%,60%{ transform: translate(-2px,0) skew(0deg); }
62%{ transform: translate(0,0) skew(5deg); }
}

@keyframes glitchBotom{
2%,64%{ transform: translate(-2px,0); }
4%,60%{ transform: translate(-2px,0); }
62%{ transform: translate(-22px,5px) skew(21deg); }
}

@keyframes marquee {
    0%   { transform: translate(0%, 0); opacity:0;}
	10%{opacity:1;}
	90%{opacity:1;}
    100% { transform: translate(-141.5vw, 0); opacity:0;}
}

@keyframes marquee1 {
    0% { transform: translate(-141.5vw, 0); opacity:0;}
	10%{opacity:1;}
	90%{opacity:1;}
    100%   { transform: translate(0%, 0); opacity:0;}
}

@keyframes fade-in-bottom {
    0% {
    // -webkit-transform: translateY(50px);
    // transform: translateY(50px);
    filter: grayscale(1);
    opacity: 0.3;
    }
    100% {
    // -webkit-transform: translateY(0);
    // transform: translateY(0);
    filter: grayscale(0);
    opacity: 1;
    }
}

.scrolls{
    filter: grayscale(1);
    opacity: 0.3;
    transition: .3s;
}
.scrolls.scrolled{
    transition: .3s;
    filter: grayscale(0);
    opacity: 1;
    animation: fade-in-bottom 1s ease-in-out both;
}


.main{
    overflow: hidden;
    width: 100%;
    background-color: $bC;
    @include flex(){
        flex-direction: column;
    }
    ol{
        z-index: 101;
        position: fixed;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        li{
            a{
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 1px solid #fff;
                margin: 10px 0;
                &.active{
                    background-color: #fff;
                }
            }
        }
        .marker{
            content: "";
            position: absolute;
            bottom: 1.2rem;
            left: 50%;
            width: 0%;
            height: 3px;
            background-color: purple;
            transition: 0.2s;
        }
    }
    .page{
        
        z-index: 99;
        width: 50px;
        height: 150px;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
        h4{
            top: 0;
            left: 0;
            color: #fff;
            position: absolute;
            font-weight: 400;
        }
        p{
            position: absolute;
            color: #fff;
            bottom: 30px;
            left: 10px;
            font-size: 35px;
            font-weight: 200;
        }
        span{
            bottom: 25px;
            left: 6px;
            width: 50px;
            height: 1px;
            background-color: #fff;
            transform: rotate(135deg);
            position: absolute;
        }
        h5{
            font-weight: 100;
            font-size: 20px;
            bottom: 0;
            right: 0;
            color: #fff;
            position: absolute;
        }
    }
    section{
        position: relative;
        // height: 100vh;
        height: 900px;
        @include flex(space-between, center){
            flex-direction: column;
        }
        .section-wrap{
            height: calc(100% - 100px);
            max-width: 1620px;
            padding: 0 150px;
            @include flex( flex-start, center){

            }
            .t-img-wrap{
                width: 45%;
                height: 100%;
                @include flex(){
                    flex-direction: column;
                }
                .title-img{
                    width: calc(60% + 200px);
                    animation: upDown 3s infinite;
                }
                .blur-shadow{
                    animation: blurShadow 3s infinite;
                    width: 60%;
                    background-color: rgb(145, 145, 145);
                    height: 40px;
                    border-radius: 50%;
                    filter: blur(38px);
                    margin-left: 80px;
                    transform: translateY(-100px);
                }
            }
            .title{
                width: 55%;
                padding: 0 100px;
                @include flex(center, center){

                }
                .title-wrap{
                    width: 70%;
                    @include flex(center, flex-start){
                        flex-direction: column;
                    }

                    h1{
                        color: #d3d3d3;
                        font-size: 60px;
                        font-weight: 900;
                        animation: glitch 1.5s linear infinite;
                        font-family: sans-serif;
                        text-shadow: -3px -2px 0px $hotPink, 
                        3px 2px 0px $electroShock;
                    
                        &:before,
                        &:after{
                        content: attr(error);
                            position: absolute;
                            left: 0;
                        }
                        
                        &:before{
                            animation: glitchTop 1.5s linear infinite;
                            clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
                            -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
                        }
                        
                        &:after{
                            animation: glitchBotom 2s linear infinite;
                            clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
                            -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
                            }
                    }
                    h2{
                        font-weight: 400;
                        font-size: 30px;
                        color: #c0c0c0;
                    }
                    p{
                        padding-top: 20px;
                        color: #888;
                        span{
                            color: #fff;
                        }
                    }
                    .link-wrap{
                        @include flex(flex-start){}
                        margin-top: 60px;
                        width: 200px;
                        h3{
                            color: #fff;
                            padding-right: 20px;
                        }
                        .won-btn{
                            z-index: 101;
                            width: 50px;
                            height: 50px;
                            padding-bottom: 5px;
                            @include flex(center){}
                            background: linear-gradient(118deg, rgba(104,138,226,1) 0%, rgba(65,78,148,1) 100%);
                            border-radius: 50%;
                            img{
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
        .slide{
            position: relative;
            bottom: 40px;
            left: 0;
            width: 100vw;
            height: 60px;
            overflow: hidden;
            pointer-events: none;
            &::after{
                content:"";
                display: block;
                position: absolute;
                width: 400px;
                height: 60px;
                top: 0;
                left: 0%;
                // background-color: #fff;
                background: linear-gradient(-90deg, rgba(18,18,19,0) 0%, rgba(18,18,19,0.8) 70%);
            }
            &::before{
                content:"";
                display: block;
                position: absolute;
                width: 400px;
                height: 100%;
                top: 0;
                right: 0;
                z-index: 11;
                background: linear-gradient(90deg, rgba(18,18,19,0) 0%, rgba(18,18,19,0.8) 70%);
                
            }
            h1 {
                width: 100%;
                line-height: .9;
                font-size: 28px;
                color:#858585;
                white-space: nowrap;
                animation: marquee 22s linear infinite; 
                .fa{
                    color:#50628F;
                }
            }
            h2 {
                width: 100%;
                line-height: .9;
                font-size: 42px;
                color:#C8CBCD;
                white-space: nowrap;
                animation: marquee1 27s linear infinite; 
                .fa{
                    color:#5E85EB;
                }
            }
        }
    }
}